@page "/line"
@inject IJSRuntime JsRuntime

<h3>Line</h3>

<Row>
    <Column ColumnSize="ColumnSize.IsHalf">
        <canvas id="babylonRender" touch-action="none" style="width:100%; height:100%"></canvas>
    </Column>
</Row>

@code {
    double X1 { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("InitializeBabylonScene", "babylonRender");
        await JsRuntime.InvokeVoidAsync("Line");
    }
}
