@inherits LayoutComponentBase


<Layout>
    <LayoutHeader>
        <NavMenu />
    </LayoutHeader>
    <LayoutContent>
        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </LayoutContent>
    @*<LayoutFooter>
            Footer
        </LayoutFooter>*@
</Layout>
